{% assign navurl = page.url | remove: 'index.html' %}
<ul>
<!-- {% for item in include.navigation %}
  <li>
    <a href="{{ item.url }}"{% if item.url == navurl %} data-current="current page"{% endif %}>{{ item.text }}</a>
    {% if item.subitems %}
      {% include navigation.html navigation=item.subitems %}
    {% endif %}
  </li>
{% endfor %} -->

<li>
  <script src="https://gumroad.com/js/gumroad.js"></script>
  <a href="https://gum.co/ichewsyou" class="dark-btn" target="_blank">
    <i data-feather="book-open"></i>
    Cookbook out now
  </a>
</li>
</ul>
