// Main Styles

// See the other SASS partials for typography, variables etc.
// CSS Grid is used for the layout with fallbacks for less capable browsers
// declared beforehand, and a @supports feature query to reset fallbacks when
// necessary. https://rachelandrew.co.uk/css/cheatsheets/grid-fallbacks

// the body element is our primary layout grid
body {
  height: 100vh;
}

// by default, make any new children of body to span the full track
body > * {
  grid-column: full;
  padding: 0 1rem;
}

// header, the first grid row
// it is also a grid for the logo and nav
header {
  grid-column: full;
  display: grid;
  background-color: transparent;
  padding: 2rem;
  @media screen and (min-width: $screen-sm-min) {
    grid-template-columns: 1fr auto;
    grid-column-gap: 1rem;
  }
  position: fixed;
  z-index: 100;
  width: 100vw;
}

// logo, is a grid item
header > h1 {
  display: inline-block;
  padding-bottom: 1rem;
  @media screen and (min-width: $screen-sm-min) {
    padding-bottom: 0;
  }
  a,
  a:visited {
    text-decoration: none;
    border: 0;
    color: white;
    @media screen and (min-width: $screen-sm-min) {
      padding: 1rem;
    }
  }
  a:hover {
    color: white;
  }
}

// main menu, is a grid item
header > nav {

  @media screen and (min-width: $screen-sm-min) {
    float: right;
  }
  ul {
    // flexbox is better than grid for distributing an unknown qty of children
    display: flex;
    li {
      margin-right: 2rem;
      margin-top: 24px;
      font-size: 1.2rem;
      display: inline-block;
      @media screen and (min-width: $screen-sm-min) {
        margin-right: 0;
      }
      a,
      a:visited {
        color: #ffffff;
        text-decoration: none;
        border: 0;
        @media screen and (min-width: $screen-sm-min) {
          padding: 1rem;
        }
        &[data-current="current page"] {
          // you can add an active nav item style here
        }
      }
    }
  }
}

// our main content wrapper, the width scales with font size
main {
  width: 100% !important;
  max-width: 52rem;
  margin-right: auto;
  margin-left: auto;
  grid-column: main;
  display: grid;
  padding-bottom: 2rem;
  @media screen and (min-width: $screen-md-min) {
    align-content: start;
  }
}

// reset breaking fallbacks (e.g. widths) if CSS Grid is supported
// float, inline-block, table properties are already ignored by CSS Grid
@supports (display: grid) {
  main {
    width: auto;
    max-width: none;
  }
}

// blog posts list
html[data-current="blog"] main > section {
  ul li {
    padding: 2rem 0;
    border-bottom: 0.05em solid $hairline-color;
    p {
      padding-bottom: 0;
    }
  }
}

// adjacent blog posts links
nav[aria-label="Adjacent Posts"] {
  padding: 4rem 0;
  ul {
    display: flex;
    li {
      flex: 0 0 50%;
      width: auto;
      &:nth-child(2) {
        text-align: right;
      }
    }
  }
}

// contact form
html[data-current="contact"] main > form {
  display: grid;
  label {
    display: none;
  }
  input,
  textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  button {
    width: 100%;
  }
}

// reset CSS Grid fallbacks when they aren't required
@supports (display: grid) {
  html[data-current="contact"] main > form {
    input,
    textarea,
    button {
      width: auto;
      max-width: none;
    }
  }
}

footer {
  text-align: left;
  background-color: $grey-bg-color;

}

.logo{
  height: 60px;
  width: 118px;
  display: inline;
}

.excerpt{
  display: flex;
  .thumbnail{
    height: 140px;
    width: 140px;
    margin-right: 20px;
  }
}

.links{
  img{
    height: 40px;
  }
  a{
    text-decoration: none !important;
    border: none;
  }
  .thumbnail{
    height: 140px;
    width: 140px;
  }
}

.dark-btn{
  background: #000000;
  border-radius: 999px;
  color: #FFFFFF;
  padding: 16px 32px;
  margin-top: 16px;

  svg{
    margin-right: 8px;
  }
}
.dark-btn:hover{
  background: #FFFFFF;
  color: #000000 !important;
  text-decoration: none !important;
  border: 2px solid #000000;
}

@media only screen  and (max-width : 768px)  {
  .links{
    img{
      width: 60%;
      height: auto;
      margin-bottom: 20px;
    }
  }
  nav ul{
    justify-content: center; 
    margin-top: 10px;
  }
  nav ul li{
    margin: 24px 10px 0 !important;
  }
  header{
    text-align: center;
  }
}

@media only screen  and (min-width : 1024px){
  .links{
    display: flex;
    img{
      margin-right: 20px;
    }
  }
  
  .description{
    display: flex;

    .thumbnail{
      height: 140px;
      width: 140px;
      margin-right: 20px;
    }
  }
}