// add font-face or font import declarations here

@font-face {
    font-family: "Circular";
    font-weight: 300;
	src: url("../assets/fonts/circular-book.otf");
}

@font-face {
    font-family: "Circular";
    font-weight: 500;
	src: url("../assets/fonts/circular-medium.otf");
}

@font-face {
    font-family: "Circular";
    font-weight: 700;
	src: url("../assets/fonts/circular-bold.otf");
}

