@charset "utf-8";

@import
  "partials/fonts",
  "partials/variables",
  "partials/mixins",
  "partials/normalize",
  "partials/utilities",
  "partials/typography",
  "partials/app"
;

.home-layout{
  background: url("../assets/img/uploads/home-bg.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover ;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(13,14,44,.3);
  color: #FFFFFF;
  text-align: center;

  h2{
    font-size: 8rem;
    color: #FFFFFF;
    font-family: 'Domaine Display';
    font-weight: 500;
    padding-bottom: 0;
  }

  p{
    color: #FFFFFF;
    font-family: 'Circular';
    padding-top: 0;
  }

  main{
    padding-top: 11rem !important;
  }
  footer{
    color: #000;
  }

  a{
    color: #FFF !important; 
    border: none;
  }
  a:hover{
    color: #DF4848 !important;
  }

  .ep-thumbnail{
    margin: 0 auto 20px;
    height:100px;
    width:100px;
    border-radius: 8px;

  }
}
