---
layout: default
---

<h2>{{ page.title }}</h2>

{% include page-intro.html %}

{{ content }}

<section>

  <h3>Posts</h3>

  <ul>
    {% for episode in site.episodes %}
    {% assign author = site.data.authors[post.author] %}
      <li>
        <h4><a href="{{ episode.url }}">{{ episode.title }}</a></h4>
        <time datetime="{{ post.date }}">
          <small>
            <strong>{{ episode.date | date_to_string }}</strong>
            {% if author %}
              by {{ author.name }}
            {% endif %}
          </small>
        </time>
        {{ episode.excerpt | strip_newlines | truncate: 180 }}
        {{ episode.episode_links }}
      </li>
    {% endfor %}
  </ul>

</section>
