---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<div class="ep-detail-page">
<h2>{{ page.title }}</h2>



<div class="description">
  <img class="thumbnail" src="{{page.thumbnail}}">
  <div>
    <time datetime="{{ page.date }}">
      <small>
        <strong>{{ page.date | date_to_string }}</strong>
      </small>
    </time>
    {{content}}
  </div>
</div>


<nav aria-label="Adjacent Posts">
  <ul>
    {% if page.previous.url %}
      <li>
        <a href="{{page.previous.url}}" rel="prev">&laquo; {{page.previous.title}}</a>
      </li>
    {% endif %}
    {% if page.next.url %}
      <li>
        <a href="{{page.next.url}}" rel="next">{{page.next.title}} &raquo;</a>
      </li>
    {% endif %}
  </ul>
</nav>
</div>
