---
layout: home-layout
---

<section class="container">
  <div class="row">
    <div class="review col-4">
      <div class="row">
        <div class="col"><i data-feather="star"></i></div>
        <div class="col"><i data-feather="star"></i></div>
        <div class="col"><i data-feather="star"></i></div>
        <div class="col"><i data-feather="star"></i></div>
        <div class="col"><i data-feather="star"></i></div>
      </div>
        "What a bunch of nerds!"
    </div>
  </div>
</section>

<h2>{{ site.title }}</h2>

  {% include page-intro.html %}

  {{ content }}
  
  <a href="/menu" class="menu-btn">Menu</a>

  

  <!--<section>

    <h3>Weekly Special</h3>
    <ul style="width: 40%; margin: auto;">
        <a href="{{ site.episodes.last.url }}">
          <img class="ep-thumbnail" src="{{ site.episodes.last.thumbnail }}">
          {{ site.episodes.last.title }}
        </a>
      </li>
    </ul>

  </section>-->
