---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body class="menu-bg">
    

    <header>

      <h1>
        <a href="{{ "/" | relative_url }}"><img class="logo" src="/assets/img/uploads/fork-knife-lockup.svg"></a>
      </h1>
      

      <nav>
        {% include navigation.html navigation=site.data.navigation %}
        
      </nav>
    
    </header>

    <main>

      {{ content }}
    
      
    </main>

    
    <small style="margin: auto; width: 100%;">Made with <i data-feather="heart"></i> from WA, NM, NY</small>
    
    <div class="dim-layer"></div>
    <script>
      feather.replace()
    </script>
  </body>

</html>